<nav class="barnav">
    <ul id="nav">
        <li><a href="/index">Accueil</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/formations">Liste des formations</a></li>
        <li><a href="/tabFormations">Liste des formations (tableau)</a></li>
        <li><a href="/formateurs">Liste des formateurs</a></li>
        <li><a href="/selectSQL">list of countries from SQL</a></li>
        <li><a href="/selectFormateursSQL">list of formateurs from SQL</a></li>
        <li><a href="/newFormateurSQL">Create new formateur from SQL</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>