<ul>
        <li><a href="/index">Accueil</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/tab_users">Tableau Users</a></li>
        <li><a href="/tab_countries">Tableau Countries</a></li>
        <li><a href="/tab_communes">Tableau Communes</a></li>
        <li><a href="/formations">Liste des formations</a></li>
        <li><a href="/tabFormations">Tableau Formations</a></li>
        <li><a href="/formateurs">Liste des formateurs</a></li>
        <li><a href="/tabFormateurs">Tableau Formateurs</a></li>
        <li><a href="/logout">Déconnexion</a></li>
</ul>