<div class="center">
<h1>{{title}}</h1>
<p>Ce Framework NODE-JS va vous servir pour développer une mini application Web en utilisant la méthode eXtreme
    Programming.</p>
<p>La base de données sera une base SQL, MariaDB, elle est pré-installée sur cette machine virtuelle : <br>
<ol class="none">
    - Le user : admin<br/>
    - Le password : azerty<br/>
</ol>
Le Framemwork est dans le dossier : {{path_minismall}}</p>
</div>