<h1>{{title}}</h1>
<p>Ce Framework NODE-JS va vous servir pour développer une mini application Web en utilisant la méthode eXtreme
    Programming.</p>
<p>La base de données sera une base SQL, MariaDB, elle est pré-installée sur cette machine virtuelle : <br>
<ul>
    <li> Le user : admin</li>
    <li> Le password : tprzo.40</li>
</ul>
Le Framemwork est dans le dossier : /home/supervisor/Documents/MiniSmall</p>