<h1>{{title}}</h1>
   <form action="/authenticated" method="POST">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <br/>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>